.card {
    position: relative;
    border-radius: 6px;
    padding: 12px;
    line-break: auto;
    transition:
        opacity 0.2s ease,
        max-height 0.9s ease,
        transform 0.12s ease;
    border: none;
    background-color: white;
}

.card:hover {
    transform: scale(1.009);
}

.card p {
    max-width: 45ch;
    overflow-wrap: break-word;
}

.card .title {
    padding-bottom: 8px;
}